.rec .rec-dot {
  width: 10px;
  height: 10px;
  box-shadow: none;
  background-color: rgb(214, 214, 214);
}
.rec .rec-dot:hover {
  box-shadow: none;
}
.rec .rec-dot_active,
.rec .rec-dot_active:focus {
  width: 10px;
  height: 10px;
  border: none;
  background-color: var(--primaryBlueColor);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
